.Hero {
  background-color: beige;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 245px;
  flex: 1;
}

.Hero__title {}

.Hero__figure {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  height: 120px;
  width: 120px;
}

.Hero__img {}